Package: asus-screen-toggle
Version: 0.0.5
Section: misc
Priority: optional
Architecture: all
Maintainer: Antonin Micka <antonin.micka@email.cz>
Description: Auto toggle spodního displeje ASUS Zenbook Duo podle připojení klávesnice
Pre-Depends: bash, debconf, usbutils, udev, systemd, grep, sed, awk, console-setup
Depends: kscreen
Recommends: x11-xserver-utils, wlr-randr, libkscreen-bin
