#ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="${VENDOR_ID}", ATTR{idProduct}=="${PRODUCT_ID}", RUN+="/bin/systemctl reload asus-bottom-screen-init.service"
#ACTION=="remove", SUBSYSTEM=="usb", ATTR{idVendor}=="${VENDOR_ID}", ATTR{idProduct}=="${PRODUCT_ID}", RUN+="/bin/systemctl reload asus-bottom-screen-init.service"
ACTION=="add", SUBSYSTEM=="usb", ENV{ID_VENDOR_ID}=="${VENDOR_ID}", ENV{ID_MODEL_ID}=="${PRODUCT_ID}", RUN+="/bin/systemctl reload asus-bottom-screen-init.service"
ACTION=="remove", SUBSYSTEM=="usb", ATTRS{idVendor}=="${VENDOR_ID}", ATTRS{idProduct}=="${PRODUCT_ID}", RUN+="/bin/systemctl reload asus-bottom-screen-init.service"
#SUBSYSTEM=="iio", ATTR{name}=="accel_3d", ACTION=="change", RUN+="/usr/local/bin/asus-check-keyboard.sh"
#ACTION=="change", SUBSYSTEM=="power_supply", KERNEL=="${LID}", RUN+="/bin/systemctl reload asus-bottom-screen-init.service"

