[Unit]
Description=ASUS Duo – zapni spodní displej, pokud je klávesnice připojena
After=graphical.target
Wants=graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/asus-check-rotation.sh
Restart=on-failure
RestartSec=3
ExecReload=/usr/bin/asus-check-keyboard-system.sh

[Install]
WantedBy=default.target
